.lockedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fef2f2; /* light red background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50; /* Above editor content, below passcode overlay */
  cursor: pointer;
  color: #da3036 !important;
  background-color: #3d1719 !important;
  border-color: #991b1b !important;
}

.lockedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hexagon {
  width: 600px;
  height: 600px;
  background-color: #dc2626; /* blood-red */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockIcon {
  width: 300px;
  height: 300px;
  color: #fef2f2; /* light-red exclamation mark */
}

.unlockText {
  color: #dc2626; /* blood-red text */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
